
    /* css reset */
    body{
        /* color:aqua ; */
        margin: 0px;
        padding: 0px;
        background: url('image/pexels-andrea-piacquadio-3838937.jpg');
        background-size: cover;
        /* background-position: center; */
    }
    .left{
        display: inline-block;
        /* border: 2px solid rgb(0, 213, 255); */
        position: absolute;
        left: 40px;
        top: 20px;
    }
    .right{
        display: inline block;
        position: absolute;
        right: 34px;
        top: 33px;
        /* border: 2px solid red; */

    }
    .mid{
        display: block;
        width: 33%;
        margin: 20px auto;
        /* border: 2px solid rgb(240, 6, 6); */
    }
    .navbar{
        display: inline-block;
    }
    .navbar li{
        display: inline-block;
        font-size: 20px;
    }
    .navbar li a{
        color: rgb(4, 4, 4);
        text-decoration: none;
        padding: 8px 12px;
    }
    .navbar li a:hover, .navbar li a.active{
       text-decoration: underline;
       color: rgb(0, 255, 255);
    }
    .left img{
        width: 130px;
        padding: 0px 20px;
        /* filter: invert(100%); */
    }
    .left div{
        text-align: center;
        font-size: 26px;
        line-height: 19px;
    }
    .btn{
        margin: 0px 9px;
        background-color: black;
        color: white;
        padding: 4px 14px;
        border: 2px solid gray;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
    }
    .btn:hover{
        background-color: rgb(68, 168, 168);
    }
    .container{
        border: 2px solid gray;
        margin: 106px 80px;
        padding: 75px;
        width: 33%;
        border-radius: 28px;
    }
    .form input{
        text-align: center;
        display: block;
        width: 400px;
        padding: 1px;
        border: 2px solid rgb(68, 168, 168);
        margin: 11px auto;
        font-size: 25px;
        border-radius: 8px;
    }
    .container h1{
        text-align: center;
    }
    .container button{
        display: block;
        width: 75%;
        margin: 20px auto;
    }
